**/target
**/build
**/.svn
**/bin/
**/.classpath
**/.project
**/.settings
**/.springBean
**/*.iml
**/*.idea
**/.externalToolBuilders
**/test-output

/target
/build
/.svn
/bin/
/.classpath
/.project
/.settings
/.springBean
/*.iml
/*.idea
/.externalToolBuilders
/test-output

**/gen-java
**/src/main/resources/contacts.properties
