.icon-adduser {
    display: inline-block;
    margin-top: 0px;
    width: 28px;
    height: 20px;
    background: url("../img/icon/groups.png") no-repeat 0px 0px;
}

.j-input-small {
	height: 14px;
	width: 60px;
	margin-bottom: 0px;
	padding: 2px;
}

.j-hero-unit {
    padding: 30px;
    font-size: 16px;
}